body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: sans-serif;
    display: table;
    margin: 20px auto 20px auto;
    padding: 5px;
    background-color: #d5fffe;
    color: #ffffff;
    color: gray;
    font-size: 35px
}

.logo {
    height: 150px;
}

.nav {
    height: 150px;
    margin-right: 22%;
    margin-left: 22%;
    width: 56%;
    background-color: none;
    position: absolute;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    margin-top: 55px;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width: 600px) {

    .logo {
        height: 125%;
    }

    .nav {
        height: 125px;
        width: 100%;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 45px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
        background-color: white;
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid black;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.right-section {
    width: 40%;
    align-items: center;
    align-self: center;
}

.vcenter {
    justify-content: space-evenly;
}

/*Nav Style Ends */

.cover-image {
    margin-left: auto;
    display: flex;
    height: 82%;
    width: 80%;
    margin-right: auto;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
}


.left-section {
    text-align: justify;
    width: 50%;
}

.spacer {
    width: 10%;
}

.individual-item {
    width: 40%;
}

.stack {
    display: flex;
}


.our-focus-button {
    border: none;
    color: white;
    font-weight: 600;
    background-color: #fc8b3f;
    height: 35px;
    width: 100px;
    border-radius: 25px;
    margin: 20px;
}

.our-focus {
    margin-right: 20px;
    margin-left: 20px;
}

.our-focus-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.our-3-objectives {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    place-content: center;
    width: 100%;
}

.alliance-members-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms-of-reference {
    display: flex;
    align-items: center;
    height: auto;
    background-color: #d4e8dd;
}


.secretariat-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d4e8dd;
}

.ecosystem-partners-container {
    height: auto;
}

.swiper-container {
    height: 300px;
}

.swiper-container2 {
    height: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.link {
    color: white;
}

p {
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.responsive-img {
    height: 250px;
}

.ecosystem-stack {
    place-content: center;
    display: flex;
}

.ecosystem-pictures {
    height: 250px;
}

.larger-text {
    font-size: 22px;
}


#clouds {
    padding: 100px 0;
    background: #9dd1fa;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #9dd1fa 100%);
    background: -linear-gradient(top, #9dd1fa, 0%, #c9dbe9 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #9dd1fa 100%);
}

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px;
    top: -200px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}


@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

.alliance-logos {
    height: 180px;
}

.connect {
    width: 150px;
}

.footer {
    text-align: right;
}

/*responsive design  */

@media only screen and (max-width: 600px) {

    .body {
        overflow: hidden;
    }

    .container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .cover-image {
        height: 300px;
        width: 100%;
    }

    .section2 {
        display: block;
    }

    .left-section {
        width: 100%;
    }

    .right-section {
        width: 100%;
    }

    .our-focus-container {
        display: block;
    }

    .stack {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-3-objectives {
        display: flex;
        align-items: center;
    }

    .buttons-container {
        display: flex;
        flex-flow: wrap;
    }

    .responsive-img {
        height: 180px;
    }

    .individual-item {
        width: 100%;
        padding: 0;
    }

    .our-focus-button {
        margin: 12px;
    }

    .ecosystem-stack {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terms-of-reference {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: #d4e8dd;
    }

    .alliance-logos {
        height: 130px;
    }

    .swiper-container {
        height: 190px;
    }

    .swiper-container2 {
        height: 150px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    #clouds {
        overflow: hidden;
        padding: 0 0;
        background: -webkit-linear-gradient(top, #c9dbe9 0%, #9dd1fa 100%);
        background: -linear-gradient(top, #9dd1fa, 0%, #c9dbe9 100%);
        background: -moz-linear-gradient(top, #c9dbe9 0%, #9dd1fa 100%);
    }
}
