{% load static %}
<html>
<head>
    <title>Youth For Sustainability</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<!--Nav !-->
<nav class="nav-container">
    <ul class="nav-no-style vcenter left">
        <li><img src="{% static 'images/vmitis_logo.png' %}" class="logo"></li>
    </ul>
    <ul class="nav-no-style vcenter right">
        <li>Home</li>
        <li>About</li>
        <li>Mission</li>
        <li>Connect</li>
    </ul>
</nav>
<!--Nav Ends !-->
<!-- Hero !-->
<section>
    <img src="{% static 'images/cover.jpg' %}" class="image-center">
</section>
<!-- Hero Ends !-->

<div class="container center-text">
    <h2>Join the <br> Youth For Sustainability India Alliance</h2>
    <div class="section2">
        <div class="left-section">
            <p>Although a fluent speaker and writer of English since late teens — during my late teens and early
                twenties, I left a teacher of Shakespearean English and a Ph.D. professor thoroughly impressed with my
                compositional and verbal prowess in English — however, I now have to invest exponentially higher amount
                of time and effort to achieve a certain level of satisfaction because of the hurdles created by those
                either fiercely opposed to an individual’s progress or
                unabashedly governed by vested interests, those with the yearning for an affluent lifestyle without much
                effort at all and almost entirely off of another person’s work;</p>
        </div>
        <div class="spacer"></div>
        <div class="right section">
            <img src="{% static 'images/cover.jpg' %}" height="150" width="150">
        </div>
    </div>
    <h2>Speakers</h2>
    <div class="stack">
        <div class="individual-item">
            <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
            <h3>Vijay Mallya sells US stocks from France</h3>
        </div>
        <div class="individual-item">
            <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
            <h3>Vijay Mallya sells US stocks from France</h3>
        </div>
        <div class="individual-item">
            <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
            <h3>Vijay Mallya sells US stocks from France</h3>
        </div>
    </div>
    <div class="stack">
        <div class="individual-item">
            <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
            <h3>Vijay Mallya sells US stocks from France</h3>
        </div>
        <div class="individual-item">
            <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
            <h3>Vijay Mallya sells US stocks from France</h3>
        </div>
        <div class="individual-item">
            <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
            <h3>Vijay Mallya sells US stocks from France</h3>
        </div>
    </div>
    <h2>Our Focus</h2>
    <p>either fiercely opposed to an individual’s progress or</p>
    <div class="our-focus-container">
        <div class="our-focus">
            <div>
                <img src="{% static 'images/cover.jpg' %}" width="250" height="200">
                <h4>Some Title</h4>
                <p>Here is some great text description</p>
                <button class="our-focus-button">Beautiful Button</button>
            </div>
        </div>
        <div class="our-focus">
            <div>
                <img src="{% static 'images/cover.jpg' %}" width="250" height="200">
                <h4>Some Title</h4>
                <p>Here is some great text description</p>
                <button class="our-focus-button">Beautiful Button</button>
            </div>
        </div>
    </div>
</div>
<!-- our 3 objectives !-->
<div class="our-3-objectives">
    <div class="container">
        <h2 class="center-text">Our 3 Objectives</h2
        >
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Vijay Mallya sells US stocks from France</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Vijay Mallya sells US stocks from France</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Vijay Mallya sells US stocks from France</h3>
            </div>
        </div>
    </div>
</div>
<!--end objective!-->
<!-- Youth Reach !-->
<div class="container">
    <h2 class="center-text">Youth Reach</h2>
    <img src="{% static 'images/vmitis_logo.png' %}" height="150" width="150" class="image-center">
    <p class="center-text">Youth Leaders</p>
</div>
<!-- Youth Reach ENDS !-->
<!--Terms of Reference !-->
<div class="terms-of-reference">
    <div class="container">
        <h2 class="center-text">Terms of Reference</h2>
        <p class="center-text">Although a fluent speaker and writer of English since late teens — during my late teens
            and early
            twenties, I left a teacher of Shakespearean English and a Ph.D. professor thoroughly impressed with my
            compositional and verbal prowess in English
        </p>
        <button class="long-button image-center">This is a long beautiful button</button>
    </div>
</div>
<!--Terms of Reference  End !-->
<!--Alliance Members !-->
<div class="alliance-members-container">
    <div class="container">
        <h2 class="center-text">ALLIANCE MEMBERS</h2>
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
        </div>
    </div>
</div>
<!-- Alliance Members Ends !-->
<!-- Secretariat !-->
<div class="secretariat-container">
    <div class="container">
        <h2 class="center-text">SECRETARIAT</h2>
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Vijay Mallya</h3>
                <p>Some Position</p>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Sid Mallya</h3>
                <p>Some Position</p>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Vijay Mallya</h3>
                <p>Some Position</p>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Vijay Mallya</h3>
                <p>Some Position</p>
            </div>
        </div>
    </div>
</div>
<!-- Secretariat ENDS !-->
<!-- Ecosystem Partners !-->
<div class="ecosystem-partners-container">
    <div class="container">
        <h2 class="center-text">ECOSYSTEM PARTNERS</h2>
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/vmitis_logo.png' %}" height="100" width="100">
                <h3>Logo</h3>
            </div>
        </div>
    </div>
</div>
<!-- Ecosystem Partners Ends !-->
</body>
</html>