{% load static %}
<html>
<head>
    <title>Youth For Sustainability</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/YFS.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<!--Nav !-->
<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            <img src="{% static 'images/YFS.png' %}" class="logo">
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#our_focus">Mission</a>
        <a href="#connect">Connect</a>
    </div>
</div>
<!--Nav Ends !-->
<section>
    <img src="{% static 'images/cover.JPG' %}" class="cover-image">
</section>
<div class="container center-text">
    <h2 id="#about">Join the <br> Youth For Sustainability India Alliance</h2>
    <div class="section2">
        <div class="left-section">
            <p style="text-align: left">The Youth for Sustainability (YfS) India Alliance brings together like-minded
                youth-oriented
                organisations focused on SDG 12 – Responsible Consumption and Production and SDG 13 – Climate Action
                on
                a common national platform in the form of an Alliance to help India achieve its targets under SDG 12
                and
                13 with the youth as the accelerator.
                The Alliance aims to harness the tremendous power of the Indian youth to create a sustainable future
                through collective behaviour change and to drive policy changes in educational campuses, corporate
                groups, civil society organisations, the government and other stakeholders through
                consensus-building
                and urgent action.
            </p>
        </div>
        <div class="spacer"></div>
        <div class="right-section">
            <video width="350" height="280" controls>
                <source src="{% static 'images/cover.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <h2 class="center-text">Fact Check</h2>
    <div class="swiper-container2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><p class="center-text larger-text">51.9% - The percentage of people aged below
                25 years in
                India </p></div>
            <div class="swiper-slide"><p class="center-text larger-text">814 million – The projected urban
                population of India
                for the year 2050. </p></div>
            <div class="swiper-slide"><p class="center-text larger-text">3.3 million metric tonnes – The amount of
                plastic waste
                that is generated in India per year</p></div>
            <div class="swiper-slide"><p class="center-text larger-text">Rs. 92,000 crores – The value of food that
                is wasted in
                India per year which is enough to feed all of Bihar </p></div>
            <div class="swiper-slide"><p class="center-text larger-text">1st – India is the world’s largest importer
                of soybean
                oil and palm oil which are often linked with deforestation </p></div>
            <div class="swiper-slide"><p class="center-text larger-text">3rd – India is the third largest emitter of
                greenhouse
                gases in the world after China and USA </p></div>
        </div>
    </div>
    <h2 id="our_focus">Our Focus</h2>
    <p>The focus of the Alliance is to be the driving force in the ‘Decade of Action, 2020-30’.<br> To make it possible,
        the
        Alliance brings together like-minded youth-focused and multi-stakeholder organizations, and builds consensus
        for
        individual, civil society, corporate and government policy actions.</p>
    <div class="our-focus-container">
        <div class="our-focus">
            <div>
                <img src="{% static 'images/sdg12.png' %}" width="250" height="250">
            </div>
        </div>
        <div class="mobile-space"></div>
        <div class="our-focus">
            <div>
                <img src="{% static 'images/sdg13.png' %}" width="250" height="250">
            </div>
        </div>
    </div>
</div>

<!-- our 3 objectives !-->
<div class="our-3-objectives">
    <div class="container">
        <h2 class="center-text">Our 3 Objectives</h2>
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/empowerment.png' %}" class="image-center responsive-img">
                <h3 class="center-text">Youth Empowerment</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/partnerships.png' %}" class="image-center responsive-img">
                <h3 class="center-text">Youth Partnerships</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/guidance.png' %}" class="image-center responsive-img">
                <h3 class="center-text">Youth Guidance</h3>
            </div>
        </div>
    </div>
</div>
<!--end objective!-->
<!--Terms of Reference !-->
<div class="terms-of-reference">
    <div class="container">
        <h2 class="center-text">Terms of Reference</h2>
        <p class="center-text">The Terms of Reference document of the Alliance delineates the vision, goals, roles,
            responsibilities, objectives and structure of the Alliance. To transcend language barriers, the document is
            available in 6 languages. Give it a read to understand the Alliance in its entirety!
        </p>
        <div class="buttons-container">
            <button class="our-focus-button image-center"><a class="link"
                                                             href="https://drive.google.com/file/d/1lVpUTkyivYY_5z8RXWiTgYGUEfKZQlR8/view?usp=sharing"
                                                             target="_blank">English</a>
            </button>
            <button class="our-focus-button image-center"><a class="link"
                                                             href="https://drive.google.com/file/d/10f2cg8i39c7G-bZ7tqotwrGhe_Xwv-1t/view?usp=sharing"
                                                             target="_blank">Hindi</a>
            </button>
            <button class="our-focus-button image-center"><a class="link"
                                                             href="https://drive.google.com/file/d/1yyUzURytpAuGyRhKjoxqsLqjTWWg08SW/view?usp=sharing"
                                                             target="_blank">Bengali</a>
            </button>
            <button class="our-focus-button image-center"><a class="link"
                                                             href="https://drive.google.com/file/d/1y3d-3_gkpbJPmVZCTDe18AopG6CqF_Qs/view?usp=sharing"
                                                             target="_blank">Odia</a>
            </button>
            <button class="our-focus-button image-center"><a class="link"
                                                             href="https://drive.google.com/file/d/1NEoqv_08de4v6ycLh1rvaWkwBkqonzGl/view?usp=sharing"
                                                             target="_blank">Tamil</a>
            </button>
            <button class="our-focus-button image-center"><a class="link"
                                                             href="https://drive.google.com/file/d/15wRk0HBHob-Wdw6sda0NiCaWxMx4RvqN/view?usp=sharing"
                                                             target="_blank">Telugu</a>
            </button>
        </div>
    </div>
</div>
<!--Terms of Reference  End !-->
<!--Alliance Members !-->
<div class="alliance-members-container">
    <div class="container">
        <h2 class="center-text">ALLIANCE MEMBERS</h2>
    </div>
</div>
<div class="swiper-container container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/ClimateCollectiveLogo.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/GlobalShala.png' %}" class="alliance-logos"></div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/HumanCircleFoundation.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/MashProject.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/OESI.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/RSPO.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/Artforward.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/ashoka.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/CEE.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/CRB.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/EarthlySienna.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/EcoClothing.jpg' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/EnviroCentre.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/Makersasulym.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/MBKS.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/Meltonfoundation.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/Swetchha.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/Yeastlogo.png' %}" class="alliance-logos">
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/BlueYard.jpeg' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/ClimateInteractive.png' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/infinityBox.jpeg' %}" class="alliance-logos">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/YEPT.png' %}" class="alliance-logos">
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<!-- Alliance Members Ends !-->
<!-- Secretariat !-->
<div class="secretariat-container">
    <div class="founder-container">
        <h2 class="center-text">SECRETARIAT</h2>
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/KamalPSeth.jpg' %}" class="image-center founder-image">
                <h3 class="center-text">Kamal Prakash Seth</h3>
                <p class="center-text">India Head, RSPO</p>
                <a class="link center-linkedin" href="https://www.linkedin.com/in/kamalseth1/">
                    <button class="linkedin-button">Linkedin</button>
                </a>
            </div>
            <div class="mobile-space"></div>
            <div class="individual-item">
                <img src="{% static 'images/WioletaBurdzySeth.jpg' %}" class="image-center founder-image">
                <h3 class="center-text">Wioleta Burdzy Seth</h3>
                <p class="center-text">Co-founder, Human Circle</p>
                <a class="link center-linkedin" href="https://www.linkedin.com/in/wioleta-burdzy-seth-480051104/">
                    <button class="linkedin-button">Linkedin</button>
                </a>
            </div>
            <div class="mobile-space"></div>
            <div class="individual-item">
                <img src="{% static 'images/PaulineLARAVOIRE.jpg' %}" class="image-center founder-image">
                <h3 class="center-text">Pauline Laravoire</h3>
                <p class="center-text">Founder, Y-East</p>
                <a class="link center-linkedin" href="https://www.linkedin.com/in/paulinelaravoire/">
                    <button class="linkedin-button">Linkedin</button>
                </a>
            </div>
            <div class="mobile-space"></div>
            <div class="individual-item">
                <img src="{% static 'images/PunyaslokaPanda.jpg' %}" class="image-center founder-image">
                <h3 class="center-text">Punyasloka Panda</h3>
                <p class="center-text">Founder, Blueyard Education</p>
                <a class="link center-linkedin" href="https://www.linkedin.com/in/punyasloka-panda-579313132/">
                    <button class="linkedin-button">Linkedin</button>
                </a>
            </div>
            <div class="mobile-space"></div>
        </div>
        <div style="height: 25px;"></div>
    </div>

</div>
<!-- Secretariat ENDS !-->
<!-- Ecosystem Partners !-->
<div class="ecosystem-partners-container" id="connect">
    <div class="container">
        <h2 class="center-text">Get involved</h2>
        <div class="ecosystem-stack">
            <div>
                <img src="{% static 'images/connect-left.jpeg' %}" class="ecosystem-pictures">
            </div>
            <div class="mobile-space"></div>
            <div>
                <img src="{% static 'images/connect.svg' %}" class="ecosystem-pictures">
            </div>
        </div>
        <div style="    display: flex;
    flex-direction: column;
    align-items: center;">
            <a class="link" href="https://forms.gle/LbigSR16jwGrBbzT7">
                <button class="our-focus-button connect">Connect with us</button>
            </a>
        </div>
    </div>
    <div class="mobile-space"></div>
</div>
<footer class="footer">This website for Youth for Sustainability India Alliance was designed by Enakshi Majumder (21
    years old) from Kolkata and made by <a href="https://www.linkedin.com/in/kunal-soni-403565174/" target="_blank">Kunal
        Soni</a> (17
    Years old) from Banswara. The illustrations were taken from <a href="https://storyset.com/"
                                                                   target="_blank">Freepik</a>
</footer>
<!-- Ecosystem Partners Ends !-->
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

    var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 10,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 50,
                },

            },
            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            }
            ,
            autoplay: {
                delay: 1400
            }
            ,

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
            ,

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            }
            ,
        })
    ;
    var mySwiperNew = new Swiper('.swiper-container2', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        spaceBetween: 10,
        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay: {
            delay: 5000
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
</body>
</html>