{% load static %}
<html>
<head>
    <title>Youth For Sustainability</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<!--Nav !-->
<nav class="nav-container">
    <ul class="nav-no-style vcenter left">
        <li><img src="{% static 'images/YFS.png' %}" class="logo"></li>
    </ul>
    <ul class="nav-no-style vcenter right">
        <li>Home</li>
        <li>About</li>
        <li>Mission</li>
        <li>Connect</li>
    </ul>
</nav>
<!--Nav Ends !-->
<!-- Hero !-->
<section>
    <img src="{% static 'images/cover.jpg' %}" class="cover-image">
</section>
<!-- Hero Ends !-->

<div class="container center-text">
    <h2>Join the <br> Youth For Sustainability India Alliance</h2>
    <div class="section2">
        <div class="left-section">
            <p>The Youth for Sustainability (YfS) India Alliance brings together like-minded youth-oriented
                organisations focused on SDG 12 – Responsible Consumption and Production and SDG 13 – Climate Action on
                a common national platform in the form of an Alliance to help India achieve its targets under SDG 12 and
                13 with the youth as the accelerator.
                The Alliance aims to harness the tremendous power of the Indian youth to create a sustainable future
                through collective behaviour change and to drive policy changes in educational campuses, corporate
                groups, civil society organisations, the government and other stakeholders through consensus-building
                and urgent action.
            </p>
        </div>
        <div class="spacer"></div>
        <div class="right section">
            <img src="{% static 'images/banner2.jpg' %}" height="230">
        </div>
    </div>
    <h2 class="center-text">Fact Check</h2>
    <div class="swiper-container2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><p class="center-text">1. 51.9% - The percentage of people aged below 25 years in
                India </p></div>
            <div class="swiper-slide"><p class="center-text">2. 814 million – The projected urban population of India
                for the year 2050. </p></div>
            <div class="swiper-slide"><p class="center-text">3. 3.3 million metric tonnes – The amount of plastic waste
                that is generated in India per year</p></div>
            <div class="swiper-slide"><p class="center-text">4. Rs. 1,22,000 crores – The estimated amount of ‘lost GDP’
                and lowering of living standards for <br> nearly half of India’s population by 2050 if climate crisis
                continues unchecked </p></div>
            <div class="swiper-slide"><p class="center-text">5. Rs. 92,000 crores – The value of food that is wasted in
                India per year which is enough to feed all of Bihar </p></div>
            <div class="swiper-slide"><p class="center-text">6. 1st – India is the world’s largest importer of soybean
                oil and palm oil which are often linked with deforestation </p></div>
            <div class="swiper-slide"><p class="center-text">7. 3rd – India is the third largest emitter of greenhouse
                gases in the world after China and USA </p></div>
        </div>
    </div>
    <h2>Our Focus</h2>
    <p>The focus of the Alliance is to be the driving force in the ‘Decade of Action, 2020-30’. To make it possible, the
        Alliance brings together like-minded youth-focused and multi-stakeholder organizations, and builds consensus for
        individual, civil society, corporate and government policy actions.</p>
    <div class="our-focus-container">
        <div class="our-focus">
            <div>
                <img src="{% static 'images/sdg12.png' %}" width="250" height="200">
                <h4>SDG 12</h4>
                <p>Responsible Consumption and Production</p>
            </div>
        </div>
        <div class="our-focus">
            <div>
                <img src="{% static 'images/sdg13.png' %}" width="250" height="200">
                <h4>SDG 13</h4>
                <p>Climate Action in India for a sustainable future</p>
            </div>
        </div>
    </div>
</div>
<!-- our 3 objectives !-->
<div class="our-3-objectives">
    <div class="container">
        <h2 class="center-text">Our 3 Objectives</h2
        >
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/empowerment.png' %}" height="150" width="150" class="image-center">
                <h3>Youth Empowerment</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/partnerships.png' %}" height="150" width="150" class="image-center">
                <h3>Youth Partnerships</h3>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/guidance.png' %}" height="150" width="150" class="image-center">
                <h3>Youth Guidance</h3>
            </div>
        </div>
    </div>
</div>
<!--end objective!-->
<!--Terms of Reference !-->
<div class="terms-of-reference">
    <div class="container">
        <h2 class="center-text">Terms of Reference</h2>
        <p class="center-text">The Terms of Reference document of the Alliance delineates the vision, goals, roles,
            responsibilities, objectives and structure of the Alliance. To transcend language barriers, the document is
            available in 5 languages. Give it a read to understand the Alliance in its entirety!
        </p>
        <div class="buttons-container">
            <button class="our-focus-button image-center"><a class="link" href="https://drive.google.com/file/d/1lVpUTkyivYY_5z8RXWiTgYGUEfKZQlR8/view?usp=sharing">English</a></button>
            <button class="our-focus-button image-center"><a class="link" href="https://drive.google.com/file/d/10f2cg8i39c7G-bZ7tqotwrGhe_Xwv-1t/view?usp=sharing">Hindi</a></button>
            <button class="our-focus-button image-center"><a class="link" href="https://drive.google.com/file/d/1yyUzURytpAuGyRhKjoxqsLqjTWWg08SW/view?usp=sharing">Bengali</a></button>
            <button class="our-focus-button image-center"><a class="link" href="https://drive.google.com/file/d/1y3d-3_gkpbJPmVZCTDe18AopG6CqF_Qs/view?usp=sharing">Odia</a></button>
        </div>
    </div>
</div>
<!--Terms of Reference  End !-->
<!--Alliance Members !-->
<div class="alliance-members-container">
    <div class="container">
        <h2 class="center-text">ALLIANCE MEMBERS</h2>
    </div>
</div>
<div class="swiper-container container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/ClimateCollectiveLogo.png' %}" height="200" width="200">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/GlobalShala.png' %}" height="200" width="200"></div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/HumanCircleFoundation.png' %}" height="200" width="200">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/MashProject.png' %}" height="200" width="200"></div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/OESI.png' %}" height="200" width="200">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/Yeastlogo.png' %}" height="200" width="200">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/RSPO.png' %}" height="200" width="200">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="individual-item">
                <img src="{% static 'images/Yeastlogo.png' %}" height="200" width="200">
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<!-- Alliance Members Ends !-->
<!-- Secretariat !-->
<div class="secretariat-container">
    <div class="container">
        <h2 class="center-text">SECRETARIAT</h2>
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/KamalPSeth.jpg' %}" height="100" width="100" class="image-center">
                <h3 class="center-text">Kamal Prakash Seth</h3>
                <p class="center-text">India Head, RSPO</p>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/WioletaBurdzySeth.jpg' %}" height="100" width="100"
                     class="image-center">
                <h3 class="center-text">Wioleta Burdzy Seth</h3>
                <p class="center-text">Chief Operating Officer, Human Circle</p>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/PaulineLARAVOIRE.jpg' %}" height="100" width="100" class="image-center">
                <h3 class="center-text">Pauline Laravoire</h3>
                <p class="center-text">Founder, Y East</p>
            </div>
            <div class="individual-item">
                <img src="{% static 'images/PunyaslokaPanda.jpg' %}" height="100" width="100" class="image-center">
                <h3 class="center-text">Punyasloka Panda</h3>
                <p class="center-text">Founder, Blueyard Education</p>
            </div>
        </div>
    </div>
</div>
<!-- Secretariat ENDS !-->
<!-- Ecosystem Partners !-->
<div class="ecosystem-partners-container">
    <div class="container">
        <h2 class="center-text">ECOSYSTEM PARTNERS</h2>
        <div class="stack">
            <div class="individual-item">
                <img src="{% static 'images/YFS.png' %}" height="300" width="300">
            </div>
            <div class="individual-item">
                <img src="{% static 'images/YIC.png' %}" height="300" width="300">
            </div>
        </div>
    </div>
</div>
</div>
<!-- Ecosystem Partners Ends !-->

<script>
    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        slidesPerView: 2,
        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
        var mySwiperNew = new Swiper('.swiper-container2', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
</body>
</html>